*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(129, 43, 43);
}
select{
   width: 30%;
}
#container-bodyparts{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 75%;
    margin: 40px auto;
    
}
#view-button{
    background-color: rgb(164, 211, 252);
    box-shadow: 10px 5px 5px rgb(221, 220, 220);
}


#container-exercises{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 75%;
    margin: 40px auto;
    padding: 20px;
}
.card{
    /* box-shadow: 10px 5px 5px rgb(221, 220, 220); */
}
.btn-bodyParts{
    padding: 20px;
    margin: 0 auto;
    width: 220px;
    height: px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: rgb(240, 214, 225);
    box-shadow: 10px 5px 5px rgb(236, 218, 218);
}


.btn-bodyParts:hover{
    background-color: rgb(184, 214, 184);
}

#icon svg:hover{
    fill: red;
}