* {
  margin: 0;
  padding: 0;
}
body{
    background-image: url(./images/pexels-photo-2036998.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.9; */
}
header {
  background-color: rgb(129, 43, 43);
}
select {
  width: 30%;
}
#container-bodyparts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 75%;
  margin: 40px auto;
}
#view-button {
  background-color: rgb(164, 211, 252);
  box-shadow: 10px 5px 5px rgb(221, 220, 220);
}

#container-exercises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 75%;
  margin: 40px auto;
  padding: 20px;
}
#container-saved {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 75%;
  margin: 40px auto;
  padding: 20px;
}
#get-saved {
  margin: 0 auto;
}

.btn-bodyParts {
  padding: 20px;
  margin: 0 auto;
  width: 220px;
  height: px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgb(240, 214, 225);
  box-shadow: 10px 5px 5px rgb(163, 161, 161);
  opacity: 0.9;
}

.btn-bodyParts:hover {
  background-color: rgb(146, 41, 46);
  color: white;
}

#icon svg:hover {
  fill: red;
}

.hidden {
  visibility: hidden;
}
